<style type="text/css">
    table {
        border: 1px solid black;
        border-collapse: collapse;
    }
    td {
        padding: 10px 5px;
        text-align: center;
    }
    tr {
        border-bottom: 1px solid black;
    }
    td.special_price {
        font-weight: bold;
        font-size: 120%;
    }
    td.regular_price {
        font-size: 90%;
    }
    td.times {
        font-size: 65%;
        font-style: italic;
    }

</style>

<table>
    {% for journey in journeys %}
    <tr>
        <td class="times">
            dep {{ journey.departure|datetime }}<br/>
            arr {{ journey.arrival|datetime }}
        </td>
        <td class="duration">
            {{ journey._calculate_duration()|duration }} hrs
        </td>
        <td class="changes">
            {{ journey.changes }}x
        </td>
        <td class="special_price">
            {{ journey.special_price }} &euro;
        </td>
        <td class="regular_price">
            ({{ journey.regular_price }} &euro;)
        </td>
        <td class="direct_link">
            {# TODO #}
            <a href="#">Book now!</a>
        </td>
    </tr>
    {% endfor %}
</table>