<style type="text/css">
    table {
        border-collapse: collapse;
    }
    td {
        padding: 15px 10px;
        text-align: center;
    }
    tr {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }
    td.special_price {
        font-weight: bold;
        font-size: 120%;
    }
    td.regular_price {
        font-size: 85%;
    }
    td.times {
        font-size: 75%;
        font-style: italic;
    }

</style>

<table>
    {% for journey in journeys %}
    <tr>
        <td class="times">
            dep {{ journey.departure|datetime }}<br/>
            arr {{ journey.arrival|datetime }}
        </td>
        <td class="duration">
            {{ journey._calculate_duration()|duration }} hrs
        </td>
        <td class="changes">
            {{ journey.changes }}x
        </td>
        <td class="special_price">
            {{ '{0:0.2f}'.format(journey.special_price) }} &euro;
        </td>
        <td class="regular_price">
            instead of <br/>
            ({{ '{0:0.2f}'.format(journey.regular_price) }} &euro;)
        </td>
    </tr>
    {% endfor %}
</table>